body {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------------------------------------------
# Header css
--------------------------------------------------------------*/
#header {
    background-image: url(images/donation7.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header .header-text {
    color: white;
    width: 826px;
}

#header .header-text h1 {
    color: white;
    font-weight: bold;
    font-size: 65px;
    margin: 0 auto;
    padding-bottom: 10px;
}

#header .header-text p {
    color: white;
    width: 691px;
    margin: 0 auto;
    font-size: 18px;
    padding-bottom: 35px;
}

#header .header-text a {
    color: white;
    text-decoration: none;
    background-color: #FF5959;
    padding: 11px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
}



/*--------------------------------------------------------------
# Donate Today css
--------------------------------------------------------------*/
#donate-today {
    padding: 80px 0px;
}

#donate-today .donate-heading h1 {
    text-align: center;
    color: #121212;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 15px;
}

#donate-today .donate-heading p {
    text-align: center;
    width: 691px;
    margin: 0 auto;
    color: #707070;
    font-size: 18px;
    padding-bottom: 40px;
}

#donate-today .donate-mony-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#donate-today .donate-mony-first-items {
    width: 135px;
    height: 123px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#donate-today .donate-mony-first-items h2 {
    color: #707070;
    font-weight: bold;
    font-size: 30px;
}

#donate-today .donate-mony-second-items {
    width: 136px;
    height: 123px;
    background-color: #FFEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #FF5959;
}

#donate-today .donate-mony-second-items h2 {
    color: #FF5959;
    font-weight: bold;
    font-size: 30px;
}

.form-group {
    text-align: center;
    margin-top: 50px;
    color: #B3B3B3;
    font-family: 'Poppins', sans-serif;
}

.form-group input[type=text] {
    width: 765px;
    padding: 12px 20px;
    margin: 0 auto;
    text-align: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #B3B3B3;
    font-size: 18px;
}

input[type=text]:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
}
.donate-mony-btn {
    text-align: center;
    margin-top: 40px;
}
.donate-btn {
    color: white;
    text-decoration: none;
    background-color: #FF5959;
    padding: 11px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px; 
}

/*--------------------------------------------------------------
# Our Donate Plan css
--------------------------------------------------------------*/
#donate-plan {
    padding: 80px 0px;
}
#donate-plan .donate-plan-heading h1 {
    text-align: center;
    color: #121212;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 15px;
}
#donate-plan .donate-plan-heading p {
    text-align: center;
    width: 691px;
    margin: 0 auto;
    color: #707070;
    font-size: 18px;
    padding-bottom: 50px;
}
#donate-plan .donate-plan-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#donate-plan .donate-plan-card .food-plan-card-item {
    width: 360px;
    height: 352px;
    background-color: #EDF5F6;
    border-radius: 5px;
    padding: 20px;
}
#donate-plan .donate-plan-card .food-plan-card-item img {
    margin-top: 35px;
    margin-bottom: 20px;
}
#donate-plan .donate-plan-card .food-plan-card-item h2 {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #121212;
    font-size: 24px;
}
#donate-plan .donate-plan-card .food-plan-card-item p{
    color: #707070;
    font-size: 16px;
}


#donate-plan .donate-plan-card .family-plan-card-item {
    width: 360px;
    height: 352px;
    background-color: #FFEEEE;
    border-radius: 5px;
    padding: 20px;
}
#donate-plan .donate-plan-card .family-plan-card-item img {
    margin-top: 35px;
    margin-bottom: 20px;
}
#donate-plan .donate-plan-card .family-plan-card-item h2 {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #121212;
    font-size: 24px;
}
#donate-plan .donate-plan-card .family-plan-card-item p{
    color: #707070;
    font-size: 16px;
}